{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Book Search
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const url_book_data = "{% url 'bookSearch:book_data' %}?q=";
    </script>


</head>
<body>

    <div class="content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h1>Book Search</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <span>
                <input class="form-control" type="text" placeholder="Insert book title here" id="keyword">
            </span>
            <span>
                <button class="btn btn-success" type="button" id="act" >Search</button>
            </span>
        </div>
    </div>

    <br>
    <div class="container">
        <ol id="hasil"></ol>
    </div>




    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
    
</body>
</html>
