body {
    margin-top: 10%;
    height: 100%;
    background-color: #7FFFD4;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

hr {
    border: 0.05rem solid black;
}

#keyword {
    border: 0.05rem solid #006400;
    box-shadow: 0 0 0 0.05rem #006400;
}

.card {
    display: flex;
    justify-content: center;
}

img {
    margin: 5% 0 5% 10%;
    max-width: 80%;
    max-height: 90%;
    border: 0.05rem solid black;
}